
{% extends "base.html" %}

{% load bootstrap5 %}

{% block title %}
  Create New Room
{% endblock %}


{% block content %}

<div class="container mt-2">

  <div class="row mt-2">
    <div class="card">
        <div class="card-header">
          <div class="card-title">Create New Room</div>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="card-body">
            {% bootstrap_form form %}

          </div>

        <div class="card-footer">
          <a href="{% url 'rooms' %}" class="btn btn-sm btn-info float-right">Room List</a>
          <button type="submit" class="btn btn-sm btn-success float-right me-2 ms-2">Create</button>
        </div>

        </form>

    </div>
  </div>
</div>

{% endblock %}